[submodule "bundles/telnet-networking"]
	path = bundles/telnet-networking
	url = https://github.com/RanvierMUD/telnet-networking.git
[submodule "bundles/lootable-npcs"]
	path = bundles/lootable-npcs
	url = https://github.com/RanvierMUD/lootable-npcs
[submodule "bundles/vendor-npcs"]
	path = bundles/vendor-npcs
	url = https://github.com/RanvierMUD/vendor-npcs
